h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 25px;
}
input {
  width: 100%;
}
.container {
  text-align: left;
}
.add-row {
  margin: 10px 5px;
}
.add-btn {
  min-width: 70.96px;
}
